@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1, h2 {
  font-family: 'Bebas Neue', sans-serif;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.main-page {
  margin: 0;
  padding: 0;
  min-height: 130vh;
  box-sizing: border-box;
  background-image: url('img/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.second-page {
    margin: 0;
    padding: 0;
    min-height: 130vh;
    box-sizing: border-box;
    background-image: url('img/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}   

.third-page {
    margin: 0;
    padding: 0;
    min-height: 130vh;
    box-sizing: border-box;
    background-image: url('img/bg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.fourth-page {
    margin: 0;
    padding: 0;
    min-height: 130vh;
    box-sizing: border-box;
    background-image: url('img/bg4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.navbar a {
  font-size: 20px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.logo-text {
  font-size: 30px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #00a6c8;
}

.div-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-main {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 17px;
}

.white-background {
  background-color: white;
  background-image: none;
  background-size: cover; 
  background-position: center; 
}

.icon {
  color: white;
  transition: color 0.3s ease;
}

.icon:hover {
  color: rgb(183, 183, 183);
}

/* .card and .card-2 */
.container {
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}

.card-1,
.card-2 {
    width: 280px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
    z-index: 10;
    overflow: hidden;
    border-radius: 1%;
}

.card-2 {
    width: 600px;
    height: 350px;
}

.card-1 .backgroundEffect,
.card-2 .backgroundEffect {
    bottom: 0;
    height: 0;
    width: 100%;
}

.card-1:hover,
.card-2:hover {
    color: #fff;
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.card-1:hover .backgroundEffect,
.card-2:hover .backgroundEffect {
    bottom: 0;
    height: 320px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #050607;
    animation: popBackground 0.3s ease-in;
}

@keyframes popBackground {
    0% {
        height: 20px;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }

    50% {
        height: 80px;
        border-top-left-radius: 75%;
        border-top-right-radius: 75%;
    }

    75% {
        height: 160px;
        border-top-left-radius: 85%;
        border-top-right-radius: 85%;
    }

    100% {
        height: 320px;
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
    }
}

.card-1 .pic,
.card-2 .pic {
    position: relative;
}

.card-1 .pic img,
.card-2 .pic img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-1 .date,
.card-2 .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 70px;
    background-color: #050607;
    color: white;
    position: absolute;
    bottom: 0;
    transition: all ease;
}

.card-1 .date .day,
.card-2 .date .day {
    font-size: 14px;
    font-weight: 600;
}

.card-1 .date .month,
.card-1 .date .year,
.card-2 .date .month,
.card-2 .date .year {
    font-size: 10px;
}

.card-1 .text-muted,
.card-2 .text-muted {
    font-size: 12px;
}

.card-1:hover .text-muted,
.card-2:hover .text-muted {
    color: #fff !important;
}

.card-1 .content,
.card-2 .content {
    padding: 0 20px;
}

.card-1 .content .btn,
.card-2 .content .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    background-color: #050607;
    border-radius: 25px;
    font-size: 14px;
    border: none;
    color: #fff;
    transition: all 0.3s ease;
}

.card-1 .content .btn:hover,
.card-2 .content .btn:hover {
    background: #fff;
    color: #050607;
    box-shadow: #0000001a 0px 3px 5px;
    padding: 9px 16px;
    font-size: 15px;
}

.card-1 .content .btn .fas,
.card-2 .content .btn .fas {
    font-size: 12px;
    padding-left: 5px;
}

.card-1 .content .foot .admin,
.card-1:hover .content .foot .admin,
.card-2 .content .foot .admin,
.card-2:hover .content .foot .admin {
    color: #050607;
    font-size: 12px;
}

.card-1:hover .content .foot .admin,
.card-2:hover .content .foot .admin {
    color: #fff;
}

.card-1 .content .foot .icon,
.card-2 .content .foot .icon {
    font-size: 12px;
}

/* ... Otros estilos ... */


@media screen and (max-width: 768px) {
    .card-1,
    .card-2 {
        width: 280px;
        height: 400px;
        max-width: none;
    }
    .row-cols-md-4 > .col {
        flex: 0 0 25%;
        max-width: 25%;
      }
    .skills-page {
        width: 280px;
        max-width: none; 
    }
}

.the-blur {
    position: fixed;
    top:0;
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    background: rgba(0,0,0,.4);
    z-index:1010;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}




